<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DoctorMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.domain.Doctor">
            <id property="doctorId" column="doctor_id" jdbcType="VARCHAR"/>
            <result property="doctorName" column="doctor_name" jdbcType="VARCHAR"/>
            <result property="doctorLevelId" column="doctor_level_id" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="roomId" column="room_id" jdbcType="VARCHAR"/>
            <result property="baseNumberSourceAmount" column="base_number_source_amount" jdbcType="INTEGER"/>
            <result property="addNumberSourceAmount" column="add_number_source_amount" jdbcType="INTEGER"/>
            <result property="residueNumberSourceAmount" column="residue_number_source_amount" jdbcType="INTEGER"/>
            <result property="departmentId" column="department_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        doctor_id,doctor_name,doctor_level_id,
        phone_number,introduction,state,
        room_id,base_number_source_amount,add_number_source_amount,
        residue_number_source_amount,department_id
    </sql>
</mapper>
