<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PatientMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.domain.Patient">
            <id property="patientId" column="patient_id" jdbcType="VARCHAR"/>
            <result property="patientName" column="patient_name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="relationshipWithAccountHolder" column="relationship_with_account_holder" jdbcType="VARCHAR"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="patientTypeId" column="patient_type_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        patient_id,patient_name,sex,
        age,phone_number,address,
        state,relationship_with_account_holder,order_id,
        patient_type_id
    </sql>
</mapper>
